#heading-and-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 320px;
    background-image: url(../img/main-back.png);
    background-size: cover;
    background-position: center;
    padding: 0 16px;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 56px;
    text-align: center;
}

.input-container {
    max-width: 500px;
    width: 100%;
    position: relative;

}

.input-container > figure {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.search-iconb {
    width: 100%;
    height: 100%;
    display: block;
}

#search-input {
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 8px;
    padding-left: 36px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #666;
}

#search-input:focus {
    outline-color: aqua;
    outline-style: solid;
    outline-width: 2px;
}

#help-category {
    padding: 0 32px;
    padding-top: 100px;
}

.help-intro {
    text-align: center;
    color: #444;
    margin-bottom: 96px;
}

.help-intro > h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
}


.help-intro > p {
    line-height: 1.3;
}

.noob-guide-link {
    color: rgb(72, 72, 209);
    text-decoration: none;
}

.discord-help {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 80px;
}

.help-content {
    width: 240px;
    height: 272px;
    box-sizing: border-box;
    border: 1px solid #AAA;
    border-radius: 4px;
    text-align: center;

}

.help-content > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    text-decoration: none;

}

.help-content figure {
    width: 120px;
    margin: 0 auto;
}

.help-content img {
    width: 100%;
}

.help-content h3 {
    color: rgb(91, 91, 218);
    font-size: 20px;
    font-weight: bold;

}

.help-content h3::after {
    content: '';
    display: block;
    height: 1px;
    width: 80px;
    background-color: #AAA;
    margin: 16px auto;
}

.help-content p {
    font-size: 15px;
    line-height: 1.3;
    color: #666;
}

.etc-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
    color: #444;
}